@import "bootstrap/scss/bootstrap";

*{
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#nav{
    box-shadow: 0 0 10px 2px rgb(224, 224, 224);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.main-sec{
    width: 100%;
    height: 100vh !important ;
    background-image: url('https://scontent.fjrs10-1.fna.fbcdn.net/v/t1.15752-9/292819713_565665645005730_3984103235301783280_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=X4pAC8FkHcQAX_iIY7v&_nc_ht=scontent.fjrs10-1.fna&oh=03_AVJ38ESV5t01RZEcqcQ0mefOWcHTxv7LOHQxi5egApww6g&oe=62F37EF5');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.main-sec h1{
  padding-top: 200px;
  padding-left: 50px;
  color: #ffffff ;
  font-size: 30px;
}

.main-sec h1 span{
  color: #5c7edd;
  font-size: 70px;
  padding-top: 20px;
  display: inline-block;
}

.main-sec p {
  color: #ffffff;
  margin-left: 50px;
  margin-top: 10px;
}

.main-sec a{
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  transition: 0.2s ease;
}

.main-sec a:hover{
  text-decoration: none;
  color: #5c7edd;
}

.upper-cards{
    margin-top: 20px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #008CBA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
}

#bg{
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.overlay:hover {
    opacity: 0.5;
}

.card{
    transition: 0.3s ease;
}

.card:hover{
    box-shadow: 0 0 10px 0.9px rgb(221, 221, 221);
    transform: scale(1.009);
}

.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(241, 241, 241);   
}

.about-image{
   margin: 30px;
   float: right;
   width: 40%;
   height: 500px;
   object-fit: cover;
   object-position: center;


}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #008CBA;
    color: white;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s ease;
}
  
  #myBtn:hover {
    background-color: #555;
}

.footer-basic {
    margin-top: 40px;
    padding:40px 0;
    background-color:rgb(247, 247, 247);
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }